<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>TestSampleClass.testmultiply1(int, int)[pri:0, instance:TestSampleClass@1a04f701]<br/></td></tr>
</table>
