<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>TestSampleClass.testAdd2(int, int)[pri:1, instance:TestSampleClass@4659191b]<br/>TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]<br/>TestSampleClass.testAdd1(int, int)[pri:3, instance:TestSampleClass@4659191b]<br/>TestSampleClass.testAdd3(int, int)[pri:1, instance:TestSampleClass@4659191b]<br/>TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]<br/></td></tr>
</table>
