<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testAdd2(int, int)[pri:1, instance:TestSampleClass@4659191b]">testAdd2</td> 
  <td>TestNG-test=Test-1@151173313</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testAdd3(int, int)[pri:1, instance:TestSampleClass@4659191b]">testAdd3</td> 
  <td>TestNG-test=Test-2@1462559140</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testAdd1(int, int)[pri:3, instance:TestSampleClass@4659191b]">testAdd1</td> 
  <td>TestNG-test=Test-3@178069410</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-1@1409033681</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-1@749582820</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-10@360801407</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-3@1126537998</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-2@1567606723</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-9@121632352</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-10@1489297961</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-9@2024021974</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-7@1687909736</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-7@465738748</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-6@1503256522</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-8@1017715399</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-3@1182435108</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-6@1838545012</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-5@1412684508</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-4@787548302</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-2@309604829</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testmultiply1(int, int)[pri:4, instance:TestSampleClass@4659191b]">testmultiply1</td> 
  <td>TestNG-methods-4@2063427877</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-5@830931474</td>   <td></td> </tr>
<tr bgcolor="659cbc">  <td>21/04/08 21:05:57</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSampleClass.testsubtract(int, int)[pri:4, instance:TestSampleClass@4659191b]">testsubtract</td> 
  <td>TestNG-methods-8@2031687345</td>   <td></td> </tr>
</table>
